<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/registerOwner">Owner</a>
    <a href="/registerSitter">Sitter</a>
    <a href="/About">About</a>
</div>

<section id="sitterInfo">
    <h1 id="sitterProfileHeader">{{sitter.firstName}} {{sitter.lastName}}</h1>
            {{sitter.picture}}
    <p>Address: {{sitter.address}}</p>
    <p>Email: {{sitter.email}}</p>
    <p>Price: {{sitter.price}}</p>
    <p>Dogs Sat: {{sitter.idOfDogSat}}</p>
    <p>Reviews: {{sitter.ReviewsId}}</p>
    <p>Requests: {{sitter.requests}}</p>
</section>